@model TheBootstrapTheme.OrchardCore.ViewModels.BootstrapSettingsViewModel

<fieldset class="form-group" asp-validation-class-for="Background">
    <label asp-for="Background">Background</label>
    <input asp-for="Background" class="form-control" type="text" />
    <span asp-validation-for="Background"></span>
    @*<span class="hint">@T["The background used by the theme. Ex: dark, light, primary"]</span>*@
</fieldset>
